.idea

# ozone
.env
.ozone
public
ignore
**/blate_cache/*
**/ozone*.log

# cs fixer
.php-cs-fixer.cache

# phpunit
.phpunit.result.cache

# composer
/vendor/

# node
**/node_modules/**
package-lock.json

# documentation build
docs/.vitepress/dist/
docs/.vitepress/cache/

# tests
/noop/
/tests/projects/
/tests/_vendors_cache_/
