<?xml version="1.0"?>
<ruleset name="ozone">
    <!-- Files or folders to sniff -->
    <file>oz</file>
    <file>tests</file>

	<exclude-pattern>*/oz/oz_templates/*</exclude-pattern>

    <!-- Path to our coding standard folder -->
    <rule ref="vendor/oliup/oliup-cs-php/src"/>

    <!-- You should use at least PHP 8.1 -->
	<config name="testVersion" value="8.1-"/>

	<!-- Warnings (mostly line length) are reported but do not fail `make cs`. -->
	<config name="ignore_warnings_on_exit" value="1"/>
</ruleset>
