<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.2/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/autoload.php"
         failOnRisky="true"
         failOnWarning="true">

    <php>
        <ini name="error_reporting" value="-1"/>
        <!-- MySQL test database (ozone_test user / database). -->
        <env name="OZ_TEST_MYSQL_HOST" value="127.0.0.1"/>
        <env name="OZ_TEST_MYSQL_NAME" value="ozone_test"/>
        <env name="OZ_TEST_MYSQL_USER" value="ozone_test"/>
        <env name="OZ_TEST_MYSQL_PASS" value="OzoneTest@1"/>
        <!-- PostgreSQL test database (ozone_test user / database). -->
        <env name="OZ_TEST_PGSQL_HOST" value="127.0.0.1"/>
        <env name="OZ_TEST_PGSQL_NAME" value="ozone_test"/>
        <env name="OZ_TEST_PGSQL_USER" value="ozone_test"/>
        <env name="OZ_TEST_PGSQL_PASS" value="OzoneTest@1"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/</directory>
            <exclude>tests/Integration</exclude>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration/</directory>
        </testsuite>
    </testsuites>
</phpunit>
